@CHARSET "UTF-8";

.btn-margin {
	margin-top: 4px;
}

.wide {
	width: 500px;
}

.idColumn {
	width: 5%
}

.nameColumn {
	width: 28%;
}

.tabular {
	height: 23px;
	padding-top: 2px;
	padding-bottom: 2px;
}